.App {
  text-align: center;
  width: 98.8vw;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 1vh);
  color: white;
}

.App-body{
  background-color: #797979;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.App-footer{
  padding-right: 1vw;
  background-color: #636363;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: calc(1px + 1vmin);
  color: white;
}

